@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font-color: #000;
  --main-background: #fff;
  font-size: 10px;
  color: var(--font-color);
}

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
}

body {
  background-color: var(--main-background);
}

.portal-div {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #000000e5;
  height: 100%;
  z-index: 1;
}



.webstory-no-content-error {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  text-align: center;
  color: #8E8E8E;
  margin: 0 auto;
}

@media screen and (min-width: 300px) and (max-width: 770px) {
  .portal-div {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background-color: #fff;
  height: 100%;
  z-index: 1;
}
}