@media screen and (min-width: 320px) and (max-width: 770px) {
  .navbar-laptop {
    visibility: hidden;
  }
  .navbar-mobile {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    visibility: visible;
    width: 100%;
    height: 8rem;
    position: absolute;
    top: 0;
    display: grid;
    justify-content: end;
    align-items: center;
    padding: 2rem;
  }

  .nav-header-hamburg-btn-mobile-div {
    z-index: 999;
    visibility: hidden;
    width: 100%;
    height: 42.5rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: absolute;
    left: 0%;
    top: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .nav-header-hamburg-btn-mobile-div-show {
    visibility: visible;
  }

  .nav-header-hamburg-mobile-logout-btn {
    font-size: 1.8rem;
    text-transform: capitalize;
    background: #ff7373;
    color: #fff;
    padding: 1rem 4rem;
    border: none;
    border-radius: 2rem;
  }

  .navbar-mobile-btn {
    margin: 0 auto;
  }
}
