.category-webstory-main-div {
  padding: 3.5rem 0 0 3.5rem;
}

.category-webstory-category {
  display: flex;
  gap: 3.5rem;
  padding: 1rem;
  
}

.category-webstory-stories-detail {
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 3.6rem;
}

.category-webstory-stories-title {
  font-family: DM Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  text-align: center;
}

.category-webstory-stories{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}