.storycard-main-div {
  width: 30.5rem;
  height: 50rem;
  position: relative;
}

.storycard-main-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.storycard-image {
  width: 30.5rem;
  height: 50rem;
  border-radius: 1.5rem;
}

.storycard-header {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #000000, #000000, rgba(0, 0, 0, 0.01));
  width: 100%;
  height: 14.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.storycard-bottom {
  position: absolute;
  bottom: 0;
  padding: 2.5rem 1.5rem;
  height: 16.9rem;
  width: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), #000000, #000000);
  border-radius: 0 0 1.5rem 1.5rem;
  display: grid;
  align-items: end;
}

.storycard-edit-bottom {
  padding: 4rem 1.5rem;
}

.heading {
  color: #fff;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-align: left;
}

.description {
  color: #fff;
  font-size: 1rem;
  text-align: left;
}

.storycard-edit-btn {
  position: absolute;
  bottom: -3.5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.storycard-edit-btn {
  border: none;
  outline: none;
  width: 7.9rem;
  height: 3.4rem;
  background: #fff;
  border-radius: 20rem;
  box-shadow: 0 0.4rem 0.4rem 0 #00000040;
}

.storycard-edit-btn-inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.storycard-margin{
  margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .storycard-image {
    width: 20rem;
    height: 36rem;
  }

  .storycard-main-div {
    width: 20rem;
    height: 36rem;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1280px) {
  .storycard-image {
    width: 26.5rem;
    height: 48rem;
  }

  .storycard-main-div {
    width: 26.5rem;
    height: 48rem;
  }
}
