.auth-card {
  width: 58rem;
  height: 45rem;
  border-radius: 2rem;
  padding: 4rem ;
  box-shadow: 0 0.4rem 3rem 0 #ffffff40;
  background-color: #ffffff;
}

.auth-form-cancel-div {
  display: grid;
  justify-content: end;
}

.auth-form-cancel {
  outline: none;
  border: none;
  background-color: transparent;
}

.auth-form-heading {
  font-size: 3rem;
  line-height: 3.3rem;
  text-align: center;
  padding-bottom: 5.5rem;
}

.auth-form-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 3.7rem;
  justify-content: center;
  align-items: center;
}

.auth-label {
  font-size: 2rem;
  line-height: 2.6rem;
  padding-right: 7.5rem;
}

.auth-input-field {
  width: 21rem;
  height: 3.3rem;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.auth-input-field-div {
  width: 24.5rem;
  height: 3.5rem;
  border: 0.1rem solid black;
  outline: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.auth-input-field-div-error {
  border: 0.1rem solid red;
}

.auth-eye-btn {
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.4rem 0 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.auth-form-submit-btn-div {
  justify-content: center;
  grid-column: 1 / span 2;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 9rem;
  /* width: 22rem; */
  gap: 2rem;
}

.auth-form-submit-btn {
  width: 12.9rem;
  height: 4.5rem;
  border-radius: 2rem;
  background: #73abff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.auth-form-submit-btn:hover {
  background: #4489f1;
  color: white;
}

/* Error */

.error {
  font-size: 1.2rem;
  line-height: 1.56rem;
  text-align: center;
  color: #FF0E0E;
}

/* Checkmark */

.check {
  border: 0.2rem solid #069d06;
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* tooltip */

.username-input-field {
  position: relative;
}

.username-tooltip {
  visibility: hidden;
  width: 30rem;
  background-color: #98aefc;
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.username-input-field .username-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #98aefc transparent transparent transparent;
}

#username:hover + .username-tooltip {
  visibility: visible;
  opacity: 1;
}

/* error tooltip */
.error-tooltip {
  background-color: #e12b2b;
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  transition: opacity 0.3s;
  visibility: hidden;
}

.error-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #e12b2b transparent transparent transparent;
}

#username:hover + .error-tooltip {
  visibility: visible;
}

#password:hover + .error-tooltip {
  visibility: visible;
}

/* Password tooltip */
.password-input-field {
  position: relative;
}

.password-tooltip {
  visibility: hidden;
  width: 30rem;
  background-color: #98aefc;
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.password-input-field .password-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #98aefc transparent transparent transparent;
}

#password:hover + .password-tooltip {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width:300px) and (max-width:770px){

  .auth-form-heading{
    padding-bottom: 2rem;
  }

  .auth-form-grid {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }

  .auth-label{
    align-self: flex-start;
    padding-left: 2rem;
  }

  .auth-card{
    width: 30rem;
    height: 75%;
    padding: 1rem;
  }
 
  
  .auth-form-submit-btn-div{
    gap: 1rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width:376px) and (max-width:770px) {
  .auth-card{
    width: 110%;
    height: 60%;
    padding: 4rem;
  }
  
}