/* Filter card */

.home-main-div {
  padding: 3.5rem 0 0 3.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.home-webstory-category {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-x: scroll;
  gap: 3.5rem;
  padding: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Stories */

.home-webstory-stories-detail {
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 3.6rem;
}

.home-webstory-stories-title {
  font-family: DM Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  text-align: center;
}

.home-webstory-stories {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.home-webstory-stories-more-div {
  justify-self: center;
}

.home-webstory-stories-more {
  width: 13.6rem;
  height: 4.5rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.8rem;
  line-height: 2.344rem;
  text-align: center;
  color: #fff;
  background: #ff7373;
}

@media screen and (min-width: 300px) and (max-width: 770px) {
  .home-main-div {
    padding: 0;
  }
  .home-webstory-stories-title {
    font-size: 2.5rem;
    line-height: 3.9rem;
    text-align: center;
  }
  .home-webstory-category {
    padding: 2rem;
  }
  .home-webstory-stories-detail {
    gap: 1rem;
    padding-bottom: 2rem;
    padding-top: 0;
    
  }

  .home-webstory-stories-owntories {
    display: none;
  }

  .home-webstory-stories {
    gap: 4rem;
  }
}
